.cropperWrap{
  position: relative;
  height: 100%;
}

.loaderWrap{
  display: flex !important;
  margin: 0 auto !important;
  padding: 0 !important;
}

.cropperControlWrap{
  display: flex !important;
  align-items: center;
  justify-content: center;
}
